/* css */
* {
  font-family: Times New Roman;
} 
li {
  color: teal;
  padding: 20px 
  border-style: dashed; 
  border-spacing: 30px; 
  border-color: white; 
}
body { 
  background-image: url("photo-1488188840666-e2308741a62f.jpg"); 
  background-size: cover; 
}
footer {
  margin: 20px 20px; 
  background-color:white;
}
